:root {
  --color1: #78A1BB;
  --color2: #4C4B63;
  --color3: #EBF5EE;
  --color4: #CE7DA5;
  --shadow: #2a2a36;
} 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--color2);
  background-color: var(--color4);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1e,;
}