:root {
  --color1: #78a1bb;
  --color2: #484186;
  --color3: #ebf5ee;
  --color4: #c2c21d;
  --shadow: #2a2a36;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  height: 100vh;

}

body {
  color: var(--color2);
  background-color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
}

li {
  list-style: none;
  padding-right: 10px;
}

h1 {
  font-family: "Barlow Semi Condensed", sans-serif;
}

a {
  font-family: "Barlow Semi Condensed", sans-serif;
  text-decoration: none;
  color: var(--color2);
}

a:hover{
  color: var(--color4);
  cursor: pointer;
}

/* header  ----------------------------------*/

header {
  height: 50px;
  background-color: var(--color2);
  color: white;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}

header li, header a {
  font-family: "Barlow Semi Condensed", sans-serif;
  text-decoration: none;
  color: white;
  justify-content: space-evenly;
}

header li:hover {
  color: var(--color4);
  cursor: pointer;
}

nav {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 10px;
  font-weight: lighter;
  font-size: 1.2em;
  color: white;
  font: "Barlow Semi Condensed", sans-serif;
  align-items: center;
  justify-items: space-around;  
}

/* all h2's have class of "title" */
h2 {
  display: flex;
  align-items: top;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 28px;
  color: var(--color2);
  width: 170px;
  text-align: right;
}

/* main content container ---------------------*/
.mainContent{
  height: 85vh;
  margin: 4rem;
  justify-content: center;
}

/* about me  ----------------------------------*/
.about {
  justify-content: center;
  align-items: center;
  width: 30em;
  /* margin: auto; */
}

.about img {
  border-radius: 190px;
  height: 10rem;
  width: 10rem;
  margin: auto 2rem;
}

.about span {
  color: var(--color4),
}


/* my work ---------------------------------- */
.projectContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 0 25px;
}

.project {
  background-color: white;
  margin: 10px 5px;
  width: 18rem;
  border-radius: 10px;
}

.project h3 {
  font-family: "Barlow Semi Condensed", sans-serif;
  padding: 10px 0;
  line-height: 1.3;
  font-size: 18px;
  font-style: bold;
  color: var(--color2);
  text-align: left;
}

.project img {
  width: 230px;
  height: 170px;
}

.project a:hover {
  content: "";
  opacity: 0.5;
  cursor: pointer;
}

/* resume ---------------------------------- */

.resume a, .contact a {
  font-family: "Barlow Semi Condensed", sans-serif;
  text-decoration: none;
  color: var(--color2);
  transition: var(--color4) 1s;
}

.resume a:hover, .contact a:hover{
  color: var(--color4);
  cursor: pointer;
}

/* contact me ---------------------------------- */
.contact-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

button {
  border-radius: 5px;
}

/* footer ---------------------------------- */
footer {
  background-color: var(--color2);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  font-family: "Barlow Semi Condensed", sans-serif;
  margin: 0 5px;
  color: var(--color3);
}

/* fade --------- */
/* 
.fade {
  background-color: var(--color4);
  color: #fff;
  transition: background-color 1s;
}

.fade:hover {
  background-color: var(--color1);
}

.fade:focus,
.fade:active {
  background-color: black;
  transition: none;
} */
